/* ===================================================================Font/Favicon imports */
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sofadi+One&display=swap');

body{
    background-color: darkseagreen;
}

header{
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background-color: #01150e;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul{
    list-style-type: none;
}

ul a{
    color: #fcf8f8;
    text-decoration: none;
}

ul a:hover{
color: #14a73ed;
}

/* =======================================================================jumbotron font style*/
.mb-3 {
    font-family: Sofadi One, sans-serif;
  }