/* ===================================================================Font/Favicon imports */
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sofadi+One&display=swap");

#heading-top{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #052a16;
    letter-spacing: 3px;
}

header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background-color: #052a16;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  list-style-type: none;
}

ul a {
  color: #fcf8f8;
  text-decoration: none;
}

ul a:hover {
  color: #b71919;
}
/* =======================================================navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #052a16;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: none;
  display: none;
  top: 100%;
}

/* ================================================================================nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* =======================================================================================main*/

main {
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-one{
  font-weight: bold;
}

/* =======================================================================jumbotron font style*/
.mb-3 {
  font-family: Sofadi One, sans-serif;
}

/* ==============================================================resource links navbar style*/

.nav {
  position: sticky;
  background-color: rgba(12, 18, 115, 0.8);
  width: 100%;
  overflow: hidden;
  box-shadow: 0 8px 8px #3a3a3a;
  border-radius: 5px;
  border: #f1f1f1;
}

.blue-b{
  background-color: #0b0a4f;
  }

/* ========================================================resource links navbar links format*/

.nav a {
  font-family: Lexend, sans-serif;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 20px;
}

/* ===========================================resource links navbar links active/ hover format*/

.nav a:hover {
  background-color: #095b46;
  color: #34976c;
}

.nav a.active {
  background-color: rgba(59, 139, 68, 0.8);
  color: #fff;
}

.nav #crisis {
  background-color: #045738f5;
  color: #b92828;
  text-shadow: 2px 2px #222121;
  font-size: 1.5rem;
  font-weight: 600;
}

/* * div text-bold{
    font-weight: 1000;
    color: rgb(13,43,13);
} */

/* ====================================================================main text and lists style*/
.heading3 {
  text-align: center;
  font-weight: 500;
}

main ul {
  text-align: center;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ======================================================================================footer*/

footer {
  background-color: #01150e;
  color: #ede6e6;
}

#socials {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

/* ================================================================================media queries*/

@media only screen and (min-width: 761px) {
  .nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    width: fit-content;
    padding-right: 1rem;
  }

  #links {
    display: flex;
  }

  #links > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }
}
